<div id="<%= dom_id algo %>">
  <p>
    <strong>Display name:</strong>
    <%= algo.display_name %>
  </p>

  <p>
    <strong>Type of:</strong>
    <%= algo.type_of %>
  </p>

  <p>
    <strong>Completed:</strong>
    <%= algo.completed %>
  </p>

  <p>
    <strong>Difficulty:</strong>
    <%= algo.difficulty %>
  </p>

  <p>
    <strong>Solution:</strong>
    <%= algo.solution %>
  </p>

  <p>
    <strong>Link name:</strong>
    <%= algo.link_name %>
  </p>

  <p>
    <%= link_to "Show this algo", algo %>
  </p>

</div>
